<div id='login'>
  <h1 class='createHeader'>Create Account</h1>
  <form class='signUp'>
    <div class='createBox'>
      <br /><label for='name'><b>Full Name:</b></label>
      <input
        id='fullName-signUp'
        type='text'
        placeholder='Full Name'
        name='fullName'
        required
      />

      <br /><label for='userName'><b>Email:</b></label>
      <input
        id='email-signUp'
        type='text'
        placeholder='Enter Email'
        name='email'
        required
      />

      <br /><label for='PWD'><b>Password:</b></label>
      <input
        id='pwd-signUp'
        type='password'
        placeholder='Enter Password'
        name='PWD'
        required
      />

      <br /><button class='loginBTN' type='submit'>Create Account</button>
    </div>
  </form>
</div>
<script src='/js/login.js'></script>