<div id='login'>
  <h1 class='loginHeader'>Login</h1>

  <form class='loginPage'>
    <div class='loginImg'>
      <img src='' class='' alt='' />
    </div>

    <div class='loginContainer'>
      <br><label for='username'><b>Email:</b></label>
      <input
        id='userEmail'
        type='text'
        placeholder='Enter Username'
        name='username'
        required
      />

      <br><label for='pwd'><b>Password:</b></label>
      <input
        id='userPassword'
        type='password'
        placeholder='Enter Password'
        name='pwd'
        required
      />

      <br><button class='loginBtn' type='submit'>Login</button>
    </div>
  </form>

<script src='./js/login.js'></script>