<div class='profileName'>
  <h1>Hello, <br />{{fullName}}</h1>
</div>
<div class='cards'>
  {{#each blogs as |blog|}}
    <div class='card'>
      <div class='card-container'>
        <h2 class='blogTitle'>{{title}}</h2>
        <p class='blogs'>{{blogs}}</p>
      </div>
    </div>
  {{/each}}
</div>
<div id='blogs'>

  <form class='blogsPage'>

    <div class='blogContainer'>
      <h1 class='blogsHead'>Submit a New Blog:</h1>
      <br /><label for='blogsTitle'><b>Blog Title:</b></label>
      <br /><input
        id='blogTitle'
        type='text'
        placeholder='Title'
        name='blogsTitle'
        required
      />
      <br /><label for='blogs'><b>Blog Post:</b></label>
      <br /><input
        id='blogPost'
        type='text'
        placeholder='Blog about it!'
        name='blogs'
        required
      />
      <br /><button class='blogBtn' id='submitBlog' type='submit'>Blog About It!</button>
    </div>
  </form>
</div>

<script src='/js/profile.js'></script>