:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

* {
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    top: 0px;
    position: sticky;
}
footer {
    text-align: center;
    margin-top: 15px;
    background-color: black;
    padding: 20px;
    position: sticky;
    bottom: 0px;
}

.blogTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400px;
}

.blogs {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: large;
}

.card-description {
    text-align: right;
}

.card {
    border: 3px solid;
    margin: 15px;
    border-radius: 7px;
    padding: 5px;
    background-color: black;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.blogContainer {
    text-align: center;
    border: 7px solid;
    background-color: black;
    color: white;
    border-color: var(--purple);
    border-radius: 7px;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 25px;
    margin-top: 25px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 10px;
    color: white;
}

.navContent {
    width: 100%;
}

.navLinks {
    text-align: right;
    list-style: none;
}

.logo {
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
}

.logo,
.navMenu,
.footerContent,
.blogsHead,
.createHeader {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, var(--purple), var(--violet), var(--pink), var(--purple));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.navMenu {
    display: flex;
    justify-content: right;
}

li {
    margin: 10px;
}

.navBTN {
    font-size: 30px;
    cursor: pointer;
}

#login {
    text-align: center;
    border: 7px solid;
    background-color: black;
    color: white;
    margin: 100px;
    height: 400px;
    padding-top: 100px;
    border-color: var(--purple);
    border-radius: 7px;
    margin-left: 600px;
    margin-right: 600px;
    font-size: 30px;
}

#userEmail {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 30px;
}

#blogTitle {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 30px;
    width: fit-content;
}

#userPassword {
    margin-bottom: 50px;
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 30px;
}

#blogPost {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 30px;
    width: fit-content;

}

.blogBtn {
    margin-bottom: 25px;
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 20px;
}

.profileName {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#fullName-signUp {
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#email-signUp {
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 20px;
    margin-bottom: 20px;

}

#pwd-signUp {
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 20px;
    margin-bottom: 20px;

}

.loginBTN {
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 15px;
}

.loginBtn {
    border-radius: 7px;
    border: 3px solid var(--purple);
    font-size: 20px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}
